<%- include('partials/header') %>




<main class="main">



  <!-- Appointment Section -->
  <section id="donation" class="appointment section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Donation</h2>
      <p>"The example of those who spend their wealth in the way of Allah is like a seed [of grain] that sprouts seven ears; in every ear are a hundred grains. And Allah multiplies [the reward] for whom He wills. And Allah is all-Encompassing and Knowing."</p>
      <p>Surah Al-Baqarah (2:261)</p>
    </div><!-- End Section Title -->

    <!-- <div class="container" data-aos="fade-up" data-aos-delay="100">

      <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
        <div class="row">
          <div class="col-md-4 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required="">
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required="">
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone" required="">
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 form-group mt-3">
            <input type="datetime-local" name="date" class="form-control datepicker" id="date" placeholder="Appointment Date" required="">
          </div>
          <div class="col-md-4 form-group mt-3">
            <select name="department" id="department" class="form-select" required="">
              <option value="">Select Department</option>
              <option value="Department 1">Department 1</option>
              <option value="Department 2">Department 2</option>
              <option value="Department 3">Department 3</option>
            </select>
          </div>
          <div class="col-md-4 form-group mt-3">
            <select name="doctor" id="doctor" class="form-select" required="">
              <option value="">Select Doctor</option>
              <option value="Doctor 1">Doctor 1</option>
              <option value="Doctor 2">Doctor 2</option>
              <option value="Doctor 3">Doctor 3</option>
            </select>
          </div>
        </div>

        <div class="form-group mt-3">
          <textarea class="form-control" name="message" rows="5" placeholder="Message (Optional)"></textarea>
        </div>
        <div class="mt-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">Your appointment request has been sent successfully. Thank you!</div>
          <div class="text-center"><button type="submit">Make an Appointment</button></div>
        </div>
      </form>

    </div> -->
    <div class="vc_column-inner" style="box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);">
      <div class="wpb_wrapper">
        <div class="wpb_text_column wpb_content_element vc_custom_1617357860390 has-box-shadow">
          <div class="wpb_wrapper">
            <h3 style="text-align: center;"><strong>BANK TRANSFER</strong></h3>
            <p style="text-align: center;"><b>Account Name: </b><br>
            The Cambridge Mosque Trust</p>
            <p style="text-align: center;"><b>Bank Name: </b><br>
            HSBC</p>
            <p style="text-align: center;"><b>Account No.: </b><br>
            54298209</p>
            <p style="text-align: center;"><b>Sort code: </b><br>
            40-16-08</p>
            <p style="text-align: center;"><b>IBAN: </b><br>
            GB68 HBUK 4016 0854 2982 09</p>
            <p style="text-align: center;"><b>Branch Identifier Code: </b><br>
            HBUKGB4103J</p>
          </div>
        </div>
      </div>
    </div>
    

  </section><!-- /Appointment Section -->


</main>







<%- include('partials/footer') %>